<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Document</title>  
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>  
</head>
<style>
h1 {
display: block;
font-size: 3.5em;
text-align: center;
font-weight: bold;
color: #2000d8
}
h2 {
text-align: center;
}
img{
margin-left: 32.5%;
margin-bottom: 2%;
padding: 1em;
border: 2px solid #CCC;
border-radius: 1em;
}
</style> 
<body>
    <h1>基于几何轮廓顶点预测的建筑物分割（多模态数据)</h1>
    <h2> 原图 </h2>
    <img src='data:image/jpeg;base64,{{ src_img_stream }}'>
    <h2> Mask RCNN-平均顶点数量：{{mask_point_num}}</h2>
    <img src="data:image/jpeg;base64,{{ mask_img_stream }}">
    <h2> 我们的方法-平均顶点数量：{{poly_point_num}}</h2>
    <img src="data:image/jpeg;base64,{{ poly_img_stream }}">
</body>  
</html>