<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Document</title>
</head>
<style>
h1 {
display: block;
font-size: 3.5em;
text-align: center;
font-weight: bold;
color: #2000d8
}
form{
margin: 0 auto;
width: 400px;
padding: 1em;
border: 1px solid #CCC;
border-radius: 2em;
}
</style>   
<body>
    <h1>基于双流网络的建筑物检测（多模态数据)</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name='file' multiple>
        <input type="submit" value="Upload">
    </form>
</body>  
</html>